{namespace VH=Nng\Nnnotifications\ViewHelpers}

<f:layout name="Default" />



<f:section name="content">

	<f:flashMessages />

	<f:if condition="{queues->f:count()}==0">
		<p>Zur Zeit keine wiederholenden Benachrichtigungen.</p>
	</f:if>
	
	<h2>Warteschlange der Nachrichten</h2>
	
	<div class="all-items">
		
		<div class="row">
			<div class="col-xs-1 crop-text"><b>uid</b></div>
			<div class="col-xs-2 crop-text"><b>Erstellt</b></div>
			<div class="col-xs-3 crop-text"><b>Titel</b></div>
			<div class="col-xs-2 crop-text">Letzte</div>
			<div class="col-xs-1 crop-text">Interval</b></div>
			<div class="col-xs-1 crop-text">Gesendet</b></div>
		</div>
		
		<f:for each="{queues}" as="item" iteration="i">
			<div class="row entry">
							
				<a class="edit" href="{baseURL}index.php?action=edit&id={VH:arrayAccess(arr:settings,key1:key,key2:'editPid')}&eID=nnfesubmit&uid={item.uid}&key={VH:text(func:'createKeyForUid',value:item.uid)}&adminKey={VH:text(func:'createAdminKeyForUid',value:item.uid)}" target="edit">

					<div class="col-xs-1 crop-text">
						{item.uid}
					</div>
					
					<div class="col-xs-2 crop-text col-date">
						<f:format.date date="{item.tstamp}" format="d.m.Y H:i" />
					</div>
					
					<div class="col-xs-3 crop-text">
						{item.title}
					</div>
					
					<div class="col-xs-2 crop-text">
						<f:format.date date="{item.lastexecution}" format="d.m.Y H:i" />
					</div>
					
					<div class="col-xs-1 crop-text">
						{item.executioninterval}
					</div>
					
					<div class="col-xs-1 crop-text">
						{item.totalsent}
					</div>
					
				</a>

				<div class="col-xs-1 pull-right text-right action-btns">
	
					<a href="#" class="btn btn-default btn-xs" onclick="window.location.href='alt_doc.php?returnUrl='+T3_THIS_LOCATION+'&edit[tx_nnnotifications_domain_model_queue][{item.uid}]=edit'; return false;">
						<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					</a>
					
					<!--a class="btn btn-default btn-xs" href="{baseURL}index.php?action=edit&id={VH:arrayAccess(arr:settings,key1:key,key2:'editPid')}&eID=nnfesubmit&uid={item.uid}&key={VH:text(func:'createKeyForUid',value:item.uid)}&adminKey={VH:text(func:'createAdminKeyForUid',value:item.uid)}" target="edit">
						<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					</a-->
	
					<a href="#" class="btn btn-default btn-xs delete"
						data-delete-single="{f:uri.action(action:'delete',arguments:'{uid:item.uid}')}">
						<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
					</a>
					
				</div>
		
			</div>		
		</f:for>
	
	</div>
	
	
	<script>
		(function ($) {
			$(function () {
				//alert(T3_THIS_LOCATION);
			});
		})(jQuery);
	</script>
	
</f:section>



<f:section name="modal-views">
	
	<!-- Modal -->
	<div id="modal-delete-single" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	
		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Eintrag löschen?</h4>
		  </div>
		  <div class="modal-body">
			<p>Möchten Sie diesen Eintrag wirklich löschen?</p>
		  </div>
		  <div class="modal-footer">
			<a href="#" class="btn btn-info delete-single" data-dismiss="modal">Löschen</a>
			<a href="#" class="btn btn-default" data-dismiss="modal">Abbrechen</a>
		  </div>
		</div>
	
	  </div>
	</div>
	
	
	<!-- Modal -->
	<div id="modal-approve-single" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	
		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Eintrag freischalten?</h4>
		  </div>
		  <div class="modal-body">
			<p>Möchten Sie diesen Eintrag wirklich online schalten? Er erscheint danach direkt auf der Webseite.</p>
		  </div>
		  <div class="modal-footer">
			<a href="#" class="btn btn-info approve-single" data-dismiss="modal">Freigeben</a>
			<a href="#" class="btn btn-default" data-dismiss="modal">Abbrechen</a>
		  </div>
		</div>
	
	  </div>
	</div>
	
	
	
</f:section>