
body {
	background-color: #eee;
	font-family: "Trebuchet MS", Trebuchet, sans-serif;
}

.all-items {
	background-color: #fff;
	padding: 10px 20px 20px 20px;
	margin: 20px 0 0 0;
}

h3 {
	font-family: Share,Verdana,Arial,Helvetica,sans-serif;	
	margin-bottom: 20px;
}

.entry {
	border-top: 1px dotted #ddd;
	padding: 5px 0 5px 0;
}

.approve {
	color: rgb(112,168,93);
}

.approved {
	background-color: rgba(112,168,93,0.2);
}

.approved .action-btns {
	display: none;
}

.crop-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.entry .edit {
	color: #343434;
}

.entry .edit:hover {
	color: #ddd;
}