

.nncal-wizard label {
	width: 150px;
	display: inline-block;
	vertical-align: top;
}

.nncal-wizard input[type="text"] {
	width: 400px;
}

.nncal-wizard textarea {
	width: 400px;
	height: 100px;
}

.nncal-wizard .container {
	display: none;
}

