<!-- Diese Mail wird an den Admin versendet -->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>

<!-- Outlook wants CSS inside the body-Tag! -->

<style>
	<f:if condition="{includeDefaultCss}">
		<f:render partial="StyleSheet.css" />
	</f:if>
	<f:if condition="{css}">
		<f:render partial="{css}" />
	</f:if>	
</style>

<table class="center-box">
	<tr><td class="center-box-td">
	<table class="main">
		<tr>			
			<td class="main-td">