
body {
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
	background-color: #eee;
	text-align: center;
	padding: 20px 0 50px 0;
}

p {
	margin: 0 0 5px 0;
	padding: 0;
	font-size: 12px;
	line-height: 18px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

td {
	font-size: 12px;
	vertical-align: top;
	text-align: left;
}

h1 {
	font-size: 18px;
}

.center-box {
	max-width: 700px;
	background-color: #fff;
	margin: 0 auto 50px auto;
	border: 1px solid #d9d5c9;
}

.main-td {
	padding: 30px 30px 30px 30px;
}

.logo-box {
	text-align: center;
}

.btn {
	background-color: #000;
}