{namespace VH=Nng\Nnnotifications\ViewHelpers}

<f:render partial="MailHeader" arguments="{includeDefaultCss:1, css:'Styles.css'}" />

<table>
	<tr>
		<td class="logo-box">
			<VH:image src="typo3conf/ext/nnnotifications/Resources/Public/Imgs/test-logo.jpg" embed="1" alt="Logo 99grad" />
		</td>
	</tr>
</table>

<table>
	<tr>
		<td class="content">

			<h2>NN Notifications - Testmail</h2>
			<h1>Hallo {data.fe_user.first_name} {data.fe_user.last_name} (fe_users.uid = {data.fe_user.uid})</h1>
			<p>Diese Mail wurde von der Webseite versendet an <b>{data.fe_user.email}</b>.</p>

			<hr />
			<h3>data:</h3>
			<f:for each="{data}" key="k" as="val">
				<p>{k} => {val}</p>
			</f:for>
			
			<hr />
			<h3>recipient:</h3>
			<f:for each="{recipient}" key="k" as="val">
				<p>{k} => {val}</p>
			</f:for>
			
			<hr />
			<h3>config:</h3>
			<f:for each="{config}" key="k" as="val">
				<p>{k} => {val}</p>
			</f:for>
			
			<hr />
			<h3>params:</h3>
			<f:for each="{params}" key="k" as="val">
				<p>{k} => {val}</p>
			</f:for>
			
		</td>
	</tr>
</table>

<f:render partial="MailFooter" />

<VH:attachment src="typo3conf/ext/nnnotifications/Resources/Public/Attachments/test-anhang.pdf" embed="1" />
