
<f:be.container 
	pageTitle="NN Fesubmit" 
	loadScriptaculous="0"
	loadPrototype="1" 
	loadExtJsTheme="0" 
	includeJsFiles="{0: '{f:uri.resource(path:\'Backend/Js/scripts.js\')}', 1: '{f:uri.resource(path:\'Backend/Js/bootstrap.min.js\')}'}" 
	includeCssFiles="{0: '{f:uri.resource(path:\'Backend/Css/bootstrap.min.css\')}',1: '{f:uri.resource(path:\'Backend/Css/bootstrap-theme.min.css\')}', 2: '{f:uri.resource(path:\'Backend/Css/style.css\')}'}" 
	loadJQuery="1">
	
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div class="typo3-docheader-functions">
				<div class="left">

				</div>
				<div class="right">
					<f:be.pagePath />
					<f:be.pageInfo />
				</div>
			</div>
			<div class="typo3-docheader-buttons">
				<div class="left">

				</div>
				<div class="right">
					<f:be.buttons.shortcut />
				</div>
			</div>

		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<f:flashMessages renderMode="div" />
				<f:render section="content" />
			</div>
		</div>
	</div>
</f:be.container>

<f:render section="modal-views" />